{% extends "lab_7/layout/base.html" %}
{% block content %}
<section name="mahasiswa-list">
    <div class="container">
    <button class="btn btn-primary" id="prev-page"><</button>
    <button class="btn btn-primary" id="next-page">></button>
        <div class="row">
            <div class="col-md-8 col-lg-8">
                <h2> Mahasiswa Fasilkom</h2>
                <div class="list-group" id="mahasiswa-list">
                    {% if mahasiswa_list %}
                        {% for mahasiswa in mahasiswa_list %}
                            <a class="list-group-item clearfix">
                                {{ mahasiswa.nama }} ({{ mahasiswa.npm }})
                                <span class="pull-right">
                                    <span class="btn btn-xs btn-default" onClick="addFriend('{{ mahasiswa.nama }}', '{{ mahasiswa.npm }}')">
                                        Tambah sebagai teman
                                    </span>
                                </span>
                            </a>
                        {% endfor %}
                    {% else %}
                        <div class="alert alert-danger text-center">
                            <strong>Opps!</strong> Tidak ada mahasiswa
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-4">
                <h2> Teman Saya </h2>
                <div class="list-group" id="friend-list">
                    {% if friend_list %}
                        {% for friend in friend_list %}
                            <a class="list-group-item clearfix">
                                {{ friend.friend_name }} ({{ friend.npm }})
                            </a>
                        {% endfor %}
                    {% else %}
                        <div class="alert alert-danger text-center">
                            <strong>Opps!</strong> Tidak ada teman
                        </div>
                    {% endif %}
                </div>
                <form id="add-friend" action="#">
                    {% csrf_token %}
                    <label for="field_npm">npm</label>
                    <input id="field_npm" type="text" name="npm" class="form-control"/>
                    <label for="field_name">name</label>
                    <input id="field_name" type="text" name="name" class="form-control"/>
                    <button type="submit">Tambah</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block javascript %}
<script>
    nextPageUrl = "{{ next_page_num }}";
    prevPageUrl = "{{ prev_page_num }}";

    var addFriend = function(nama, npm) {
        $.ajax({
            method: "POST",
            url: "{% url "lab-7:add-friend" %}",
            data: { name: nama, npm: npm},
            success : function (friend) {
                friend = JSON.parse(friend);
                html = '<a class="list-group-item clearfix">' +
                    friend.friend_name + " (" + friend.npm + ")" +
                    '</a>';
                $("#friend-list").append(html);
            },
            error : function (error) {
                console.log(error);
                alert("Mahasiswa tersebut sudah ditambahkan sebagai teman")
            }
        });
    };

    $("#add-friend").on("submit", function () {
        name = $("#field_name").val();
        npm = $("#field_npm").val();
        addFriend(name, npm);

        $("#field_name").val('');
        $("#field_npm").val('');
        event.preventDefault();
    });

    $("#field_npm").change(function () {
        console.log( $(this).val() );
        npm = $(this).val();
        $.ajax({
            method: "POST",
            url: '{% url "lab-7:validate-npm" %}',
            data: {
                'npm': npm
            },
            dataType: 'json',
            success: function (data) {
                console.log(data)
                if (data.is_taken) {
                    alert("Mahasiswa dengan npm seperti ini sudah ada");
                }
            }
        });
    });

    $("#prev-page").on("click", function() {
        console.log('button prev pressed');
        var prevNumPage = prevPageUrl;
        console.log(prevPageUrl);

        if (prevNumPage) {
            console.log("will initiate the ajax call");
            $.ajax({
                method: "GET",
                url: "/lab-7/get-students-by-page/" + prevNumPage,
                dataType: "json",
                success: function (data) {
                    changePageComponents(data.mahasiswa_list, data.prev_page_num, data.next_page_num);
                }
            });
        }
    });

    $("#next-page").on("click", function() {
        console.log('button next pressed');
        var nextNumPage = nextPageUrl;
        console.log(nextPageUrl);

        if (nextNumPage) {
            console.log("will initiate the ajax call");
            $.ajax({
                method: "GET",
                url: "/lab-7/get-students-by-page/" + nextNumPage,
                dataType: "json",
                success: function (data) {
                    changePageComponents(data.mahasiswa_list, data.prev_page_num, data.next_page_num);
                }
            });
        }
    });

    var getUrlParameter = function getUrlParameter(urlTarget, sParam) {
        // window.location.search.substring(1)
        var sPageURL = decodeURIComponent(urlTarget),
            sURLVariables = sPageURL.split('&'),
            sParameterName,
            i;

        for (i = 0; i < sURLVariables.length; i++) {
            sParameterName = sURLVariables[i].split('=');

            if (sParameterName[0] === sParam) {
                return sParameterName[1] === undefined ? true : sParameterName[1];
            }
        }
    };

    var changePageComponents = function changePageComponents(mahasiswaList, prevUrl, nextUrl) {
        $("#mahasiswa-list").empty();
        prevPageUrl = prevUrl;
        nextPageUrl = nextUrl;

        var html = '';
        mahasiswaList.forEach(function(element) {
            html += '<a class="list-group-item clearfix">' +
                    element.nama + " (" + element.npm + ")" +
                    '<span class="pull-right">' +
                    '<span class="btn btn-xs btn-default" onClick="addFriend('+
                    "'" + element.nama + "'" + ',' + "'" + element.npm + "'" + ')">' +
                    'Tambah sebagai teman</span>' + 
                    '</span>' +
                    '</a>';
        });
        $("#mahasiswa-list").append(html);
    }
</script>
{% endblock %}
